*.synctex.gz
~*

# MkDocs
.venv
_site

# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
.DS_Store

*.code-workspace
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
